{% extends "base.html" %}


{% block title %}{{ entry.title }} - {{ conf.sitename }}{% endblock %}

{% block content %}
    {% for entry in env.entrylist %}
      <article>

      <h3><a href="{{ env.path + entry.permalink }}">{{ entry.title }}</a></h3>

      <h6>{{ entry.date.strftime("%B")}}&nbsp;{{ entry.date.day }}, {{entry.date.year}}</h6>

      <div class="row">
        <div class="twelve columns">

          {{ entry.content }}

        </div>
      </div>

    {% if 'tag' in env.views and entry.tags %}
        <p>Tagged as
            {% for link in entry.tags | tagify -%}
                <a href="{{ env.path + link.href }}">{{ link.title }}</a>
                {%- if loop.revindex > 2 -%}
                ,
                {%- elif loop.revindex == 2 %}
                and
                {% endif %}
            {% endfor %}
        </p>
    {% endif %}

      </article>
    {% endfor %}
{% endblock %}


{% block sidebar %}


      <div class="panel archive-posts">
      <h5>Archives</h5>
      <ul>
            <li><a href="#">December 2012</a> (1)</li>
            <li><a href="#">September 2012</a> (2)</li>
            <li><a href="#">March 2012</a> (2)</li>
            <li><a href="#">January 2012</a> (3)</li>
            <li><a href="#">November 2011</a> (4)</li>
            <li><a href="#">June 2011</a> (2)</li>
            <li><a href="#">April 2011</a> (6)</li>
            <li><a href="#">February 2011</a> (1)</li>
          </ul>
    </div>

      <div class="panel links">
      <h5>Links</h5>
      <ul>
            <li><a href="http://www.graphitedigital.com/">Graphite Digital</a></li>
            <li><a href="http://www.mediatonic.co.uk/">Mediatonic</a></li>
            <li><a href="http://www.devlogged.com/">Dev Logged</a></li>
            <li><a href="http://www.sensacom.com/">Sensacom</a></li>
            <li><a href="http://www.itadmintools.com/">IT Admin Tools</a></li>
            <li><a href="http://www.tedwise.com/">Ted Wise</a></li>
            <li><a href="http://www.mukalian.com/blog/">Mike Mukalian</a></li>
            <li><a href="http://www.sensagroup.com/">SensaGroup</a></li>
          </ul>
    </div>

{% endblock %}