<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ conf.lang }}"> <!--<![endif]-->
<head>
  {% block head -%}
  <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>{% block title %}{% endblock %}</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{ env.path + 'stylesheets/foundation.min.css' }}">
  <link rel="stylesheet" href="{{ env.path + 'stylesheets/social_foundicons.css' }}">
  <link rel="stylesheet" href="{{ env.path + 'stylesheets/app.css' }}">

  <script src="{{ env.path + 'javascripts/modernizr.foundation.js' }}"></script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="//use.typekit.net/dsg0qbk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <meta name="description" content="" />
  <meta property="og:description" content="" />
  <meta property="og:site_name" content="{{ conf.sitename }}" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="" />
  <meta property='og:url' content="http://www.brianlyttle.com" />
  <link rel="shortcut icon" href="{{ env.path + 'favicon.ico' }}">
  <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud" />

  {%- endblock %}
</head>
<body>
  <header>
    <h1><a href="{{ env.path + '/' }}" class="blogtitle">{{ conf.sitename }}</a></h1>
    <nav>
      <ul>
        <li><a href="{{ env.path + '/' }}">blog</a></li>
        <li><a href="{{ env.path + '/atom/' }}">atom</a></li>
        <li><a href="{{ env.path + '/rss/' }}">rss</a></li>
        <li><a href="{{ env.path + '/articles/' }}">articles</a></li>
      </ul>
    </nav>
  </header>
  {%- block content -%}
  {%- endblock -%}
  <footer>
    {% block footer %}
    <p>written by <a href="mailto:{{ conf.email }}">{{ conf.author }}</a></p>
    <a href="http://creativecommons.org/licenses/by-nc-sa/2.0/de/" rel="copyright">
        <img src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" alt="by-nc-sa" />
    </a>
    {% endblock %}
  </footer>
</body>
</html>