<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{ conf.lang }}"> <!--<![endif]-->
<head>
  {% block head -%}
  <meta charset="utf-8" />
    <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />
  <title>{% block title %}{% endblock %}</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{ env.path + '/stylesheets/foundation.min.css' }}">
  <!--<link rel="stylesheet" href="{{ env.path + '/stylesheets/app.css' }}"> -->
  <link rel="stylesheet" href="{{ env.path + '/stylesheets/general_enclosed_foundicons.css' }}">
  <link rel="stylesheet" href="{{ env.path + '/stylesheets/social_foundicons.css' }}">
  <link rel="stylesheet" href="{{ env.path + '/stylesheets/brianlyttle.css' }}">

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39924652-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-39924652-1', 'brianlyttle.com');
    ga('send', 'pageview');
  </script>

  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script type="text/javascript" src="//use.typekit.net/dsg0qbk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  {%- if entry is defined %}
    <meta name="description" content="{{ entry.description | e }}" />
    <meta name="keywords" content="{{ entry.tags | join(', ') }}, brian, lyttle, brian lyttle" />
    <meta property="og:title" content="{% block ogtitle %}{% endblock %}" />
    <meta property="og:type" content="article" />
  {%- endif -%}

  <meta property="og:site_name" content="{{ conf.sitename }}" />
  <meta property="og:image" content="{{ conf.www_root + '/images/bl2011_bw_225x150.jpg' }}" />
  <meta property="og:url" content="{{ conf.www_root + env.route }}" />
  <link rel="shortcut icon" href="{{ env.path + '/images/favicon.ico' }}">
  <link rel="openid2.provider" href="https://www.google.com/accounts/o8/ud" />
  {%- endblock %}

</head>
<body id="page" class="antialiased">
  <div class="row">
      <nav id="logo">
          <div class="outer">
            <a href="{{ env.path + '/' }}"><div class="inner">
              <img src="{{ env.path + '/images/logo05c.png' }}" />
            </div></a>
            <div class="bits"><a href="{{ env.path + '/' }}">Brian Lyttle</a>
          </div>
          </div>
      </nav>
  </div>
  <!-- Nav Bar -->
  <header id="header" class="row">
    <div class="twelve columns">
      <nav class="top-bar">
        <section>
          <!-- Left Nav Section -->
          <ul class="left">
            <li>
              <a href="{{ env.path + '/' }}">Home</a>
            </li>
            <li class="has-dropdown">
              <a class="active" href="{{ env.path + '/photography/' }}">Photography</a>
              <ul class="dropdown">
                <li><label>2012</label></li>
                <li><a href="http://www.flickr.com/photos/brianly/sets/72157631865804889/">Hacktoberfest</a></li>
                <li><a href="http://www.flickr.com/photos/brianly/sets/72157629897305524/">Machu Picchu</a></li>
                <li><a href="http://www.flickr.com/photos/brianly/sets/72157629549361847/">PyCon 2012</a></li>
                <li class="divider"></li>
                <li><label>2011</label></li>
                <li><a href="http://www.flickr.com/photos/brianly/sets/72157627724689431/">Helicoptering</a></li>
                <li class="divider"></li>
                <li><a href="http://www.flickr.com/photos/brianly">See all &rarr;</a></li>
              </ul>
            </li>
            <li>
              <a href="{{ env.path + '/about/' }}">About</a>
            </li>
            <li>
              <a href="{{ env.path + '/contact/' }}">Contact</a>
            </li>
          </ul>
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="has-dropdown">
              <a class="active" href="#">Follow Me</a>
              <ul class="dropdown">
        <li><a class="social foundicon-twitter" href="http://www.twitter.com/brianly"> Twitter</a></li>
        <li><a class="social foundicon-github" href="http://github.com/brianly"> GitHub</a></li>
        <li><a class="social foundicon-rss" href="http://www.brianlyttle.com/feed/"> RSS Feed</a></li>
              </ul>
            </li>
          </ul>
        </section>
      </nav>
    </div>
  </header>
  <!-- End Nav -->
  <!-- Main Page Content and Sidebar -->
  <div class="row">
    <!-- Main Blog Content -->
    <div class="nine columns" role="content">
      {%- block content -%}
      {%- endblock -%}
    </div>
    <!-- End Main Content -->
    <!-- Sidebar -->
    <aside id="sidebar" class="three columns">
        {%- block sidebar -%}
        {%- endblock -%}
    </aside>
    <!-- End Sidebar -->
  </div>
  <!-- Footer -->
  <footer class="row">
  <div class="twelve columns">
    <hr />
    <div class="row">
      <div class="six columns">
        <p>&copy; 1999-2013 Brian Lyttle</p>
      </div>
      <div class="six columns">
        <ul class="link-list right">
          <li><a href="http://twitter.com/brianly">Twitter</a></li>
          <li><a href="http://github.com/brianly">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/brianlyttle/">LinkedIn</a></li>
          <li><a href="http://stackoverflow.com/users/636/brian-lyttle">StackOverflow</a></li>
          <li><a href="http://flickr.com/photos/brianly">Flickr</a></li>
        </ul>
      </div>
    </div>
  </div>
  </footer>
  <!-- End Footer -->
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/javascripts/vendor/jquery.slides.min.js"></script>
  <script>
    $(function() {
      $('#slides').slidesjs({
        width: 940,
        height: 528,
        navigation: false
      });
    });
  </script>
</body>
</html>