{% extends "base.html" %}

{% block title %}
    {%- if entry is defined -%}
      {{ entry.title }}
    {%- else -%}
      {{ conf.sitename }}
    {%- endif -%}
{% endblock %}

{% block head %}
    {{- super() }}
    {%- if entry is defined %}
    <meta name="description" content="{{ entry.description | e }}" />
    <meta name="keywords" content="{{ entry.tags | join(', ') }}" />
    {%- endif -%}
{% endblock %}

{% block content %}
    {% for entry in env.entrylist %}
        {% include 'entry.html' %}
    {% endfor %}


    {% if env.prev is not none %}
        <a href="{{ env.path ~ env.prev ~ '/' }}" class="page floatleft blog-nav">
        &laquo; Older Posts
        </a>
    {% endif %}
    {% if env.next is not none %}
        <a href="{{ env.path ~ env.next ~ '/' }}" class="page floatright blog-nav">
        Newer Posts &raquo;
        </a>
    {%- endif  %}
{% endblock %}

{%- macro render_recent_post(entry) -%}
<li><a href="{{ env.path + entry.permalink }}">{{ entry.title }}</a></li>
{%- endmacro -%}

{%- macro render_month_archive(entry) -%}
<li>{{ entry }}</li>
{%- endmacro -%}

{% block sidebar %}

    <div class="panel recent-posts">
      <ul>
            {%- for entry in env.globals.entrylist[0:3] %}
                {{ render_month_archive(entry)}}
            {% endfor -%}
          </ul>


      <h5>Recent Posts</h5>
      <ul>
            {%- for entry in env.globals.entrylist[0:7] %}
                {{ render_recent_post(entry) | indent(8)}}
            {% endfor -%}
          </ul>
    </div>

    <div class="panel twitter">
          <h5>On Twitter</h5>
          <ul>
            <li><div>TIL Apache Cocoon still exists. See for yourself at http://t.co/epKXgv5Y.</div>
            <div class="twitter-meta">Posted <a href="#">about 3 days ago</a></div></li>

            <li><div>Persisting the contents of the clipboard over restarts is a nice touch #ios</div>
            <div class="twitter-meta">Posted <a href="#">about 5 days ago</a></div></li>

            <li><div>@kennethreitz the Marmara Guesthouse is a fabulous place to stay in an excellent location. Next time we’ll also go to Cappadocia.</div>
            <div class="twitter-meta">Posted <a href="#">about 14 days ago</a></div></li>
          </ul>
    </div>

      <div class="panel archive-posts">
      <h5>Archives</h5>
      <ul>
            <li><a href="#">December 2012</a> (1)</li>
            <li><a href="#">September 2012</a> (2)</li>
            <li><a href="#">March 2012</a> (2)</li>
            <li><a href="#">January 2012</a> (3)</li>
            <li><a href="#">November 2011</a> (4)</li>
            <li><a href="#">June 2011</a> (2)</li>
            <li><a href="#">April 2011</a> (6)</li>
            <li><a href="#">February 2011</a> (1)</li>
          </ul>
    </div>

      <div class="panel links">
      <h5>Links</h5>
      <ul>
            <li><a href="http://www.graphitedigital.com/">Graphite Digital</a></li>
            <li><a href="http://www.mediatonic.co.uk/">Mediatonic</a></li>
            <li><a href="http://www.devlogged.com/">Dev Logged</a></li>
            <li><a href="http://www.sensacom.com/">Sensacom</a></li>
            <li><a href="http://www.itadmintools.com/">IT Admin Tools</a></li>
            <li><a href="http://www.tedwise.com/">Ted Wise</a></li>
            <li><a href="http://www.mukalian.com/blog/">Mike Mukalian</a></li>
            <li><a href="http://www.sensagroup.com/">SensaGroup</a></li>
          </ul>
    </div>
{% endblock %}

{% block footer %}
    {{ super() }}
{% endblock %}
