{% extends "base.html" %}

{% block title %}{{ entry.title }} - {{ conf.sitename }}{% endblock %}
{% block ogtitle %}{{ entry.title }} - {{ conf.sitename }}{% endblock %}

{% block content %}
    {% for entry in env.entrylist %}
      <article>
        <h1><a href="{{ env.path + entry.permalink }}">{{ entry.title }}</a></h1>
        <h6>{{ entry.date.strftime("%B")}}&nbsp;{{ entry.date.day }}, {{entry.date.year}}</h6>
        <div class="row">
          <div class="twelve columns">
            {{ entry.content }}
          </div>
        </div>
        {% include "fragments/tagged-with.html" ignore missing %}
      </article>
    {% endfor %}
{% endblock %}

{% block sidebar %}
  {% include "fragments/recent-posts.html" ignore missing %}
  {% include "fragments/links.html" ignore missing %}
{% endblock %}