{% extends "base.html" %}

{% block title %}{{ entry.title }} - {{ conf.sitename }}{% endblock %}
{% block ogtitle %}{{ entry.title }} - {{ conf.sitename }}{% endblock %}

{% block content %}
    {% for entry in env.entrylist %}
<article>
    <h1><a href="{{ env.path + entry.permalink }}">{{ entry.title }}</a></h1>
    <div class="metadata"><time datetime="{{entry.date.year}}10{{ entry.date.day }}, ">{{ entry.date.strftime("%B")}}&nbsp;{{ entry.date.day }}, {{entry.date.year}}</time></div>

    {{ entry.content }}

    {% include "fragments/tagged-with.html" ignore missing %}
</article>
    {% endfor %}
{% endblock %}

{% block sidebar %}
  {% include "fragments/recent-posts.html" ignore missing %}
  {% include "fragments/links.html" ignore missing %}
{% endblock %}