<div class="panel links">
<h5>Links</h5>
  <ul>
    <li><a href="http://www.graphitedigital.com/">Graphite Digital</a></li>
    <li><a href="http://www.mediatonic.co.uk/">Mediatonic</a></li>
    <li><a href="http://www.devlogged.com/">Dev Logged</a></li>
    <li><a href="http://www.sensacom.com/">Sensacom</a></li>
    <li><a href="http://www.itadmintools.com/">IT Admin Tools</a></li>
    <li><a href="http://www.tedwise.com/">Ted Wise</a></li>
    <li><a href="http://www.mukalian.com/blog/">Mike Mukalian</a></li>
    <li><a href="http://www.sensagroup.com/">SensaGroup</a></li>
  </ul>
</div>

<a href="http://www.python.org/"><img src="/images/python-powered-w-140x56.png" alt="Python-powered logo."/></a>