<div class="panel twitter">
<h5>On Twitter</h5>
<ul>
  <li><div>TIL Apache Cocoon still exists. See for yourself at http://t.co/epKXgv5Y.</div>
  <div class="twitter-meta">Posted <a href="#">about 3 days ago</a></div></li>

  <li><div>Persisting the contents of the clipboard over restarts is a nice touch #ios</div>
  <div class="twitter-meta">Posted <a href="#">about 5 days ago</a></div></li>

  <li><div>@kennethreitz the Marmara Guesthouse is a fabulous place to stay in an excellent location. Next time we’ll also go to Cappadocia.</div>
  <div class="twitter-meta">Posted <a href="#">about 14 days ago</a></div></li>
</ul>
</div>