@font-face {
  font-family: "klavika-web-condensed2";
  src: url("/fonts/KlavikaWebBoldCond.eot");
  src: url("/fonts/KlavikaWebBoldCond.eot?#iefix") format("embedded-opentype"),
       url("/fonts/KlavikaWebBoldCondensed.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
