@font-face {
  font-family: "klavika-web-condensed2";
  src: url("http://www.brianlyttle.com/fonts/KlavikaWebBoldCond.eot");
  src: url("http://www.brianlyttle.com/fonts/KlavikaWebBoldCond.eot?#iefix") format("embedded-opentype"),
       url("http://www.brianlyttle.com/fonts/KlavikaWebBoldCondensed.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
