article blockquote {
    margin: 0 0 1px;
    padding: 9px 18px 0 17px;
    border-left: 3px solid #ddd;
}

article h1 { /* =25px */
	font-size: 25px;
	font-size: 1.5rem;
	font-weight: bold;
}

article h2 {
	font-size: 20px;
	font-size: 1.25rem;
	font-weight: normal;
	margin-bottom: 1.0em;
}

article h3 {
	font-size: 15px;
	font-size: 1.12rem;
	margin-bottom: 0.7em;
}

article h4 {
	font-size: 14px;
	font-size: 1.09rem;
	margin-bottom: 0.4em;
}

article .metadata {
	margin-bottom: rem-calc(25);
}

pre {
	padding: 0px 0px 0px 15px;
	font-size: 90%;
	font-family: Consolas, "Liberation Mono", Courier, monospace;
	overflow: auto;
	overflow-y: hidden;
	background:url("/images/code.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	background-image: -webkit-linear-gradient(transparent, transparent), url(/images/code.svg);
	background-image: -moz-linear-gradient(transparent, transparent), url(/images/code.svg);
	background-image: linear-gradient(transparent, transparent), url(/images/code.svg);
	margin-bottom: 1rem;
}

pre code {
	font-color: #646464;
	font-weight:normal;
	padding: 12px 6px 12px 15px;
	border: solid 1px #e6e6e6;
	display: block;
	color: #222222;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.blog-nav {
	border: solid 1px #e6e6e6;
}

.img-left {
	float: left;
	margin: 0 5px 10px 0;
}

.img-right {
	float: right;
	margin: 0 5px 0 10px;
}

.img-left, .img-right {
	box-sizing: border-box;
	padding: 3px;
	border: 1px solid #e6e6e6;
}



