/* --------------------------------------------------
   Colours
-----------------------------------------------------
#B83B3F red
#D66145 orange
#D6BE6B dust
#067A73 green
#08425C blue ->0A506E  ---------- 08445E 0A506E / 094763
*/
/* -----------------------------------------
   Shared Styles
----------------------------------------- */
@font-face {
  font-family: '[set]Foundicons';
  src: url("fonts/[set]_foundicons.eot");
  src: url("fonts/[set]_foundicons.eot?#iefix") format("embedded-opentype"), url("fonts/[set]_foundicons.woff") format("woff"), url("fonts/[set]_foundicons.ttf") format("truetype"), url("fonts/[set]_foundicons.svg#[set]Foundicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 25, ../sass/brianlyttle.scss */
a:hover {
  color: #B83B3F;
}

/* line 29, ../sass/brianlyttle.scss */
a {
  color: #08425C;
}

/* line 33, ../sass/brianlyttle.scss */
.floatright {
  float: right;
}

/* line 37, ../sass/brianlyttle.scss */
.floatleft {
  float: left;
}

/* line 41, ../sass/brianlyttle.scss */
.blog-nav {
  border: solid 1px #e6e6e6;
  padding: 10px;
}

/* line 46, ../sass/brianlyttle.scss */
pre {
  margin-bottom: 15px;
  border: solid 1px #e6e6e6;
  padding: 5px;
  font-size: 80%;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}

/* line 54, ../sass/brianlyttle.scss */
.img-left {
  float: left;
  margin: 0 5px 10px 0;
}

/* line 59, ../sass/brianlyttle.scss */
.img-right {
  float: right;
  margin: 0 5px 0 10px;
}

/* line 64, ../sass/brianlyttle.scss */
.img-left, .img-right {
  box-sizing: border-box;
  padding: 3px;
  border: 1px solid #e6e6e6;
}

/* -----------------------------------------
   Top Bar
----------------------------------------- */
/* line 74, ../sass/brianlyttle.scss */
.top-bar {
  background: #08425C;
  margin: 0px 0 10px 0;
}

/* line 79, ../sass/brianlyttle.scss */
.top-bar ul > li:not(.name):hover a, .top-bar ul > li:not(.name).active a {
  color: white;
}

/* line 83, ../sass/brianlyttle.scss */
.top-bar ul > li.active, .top-bar ul > li:hover {
  background: #0A506E;
}

/* line 88, ../sass/brianlyttle.scss */
.top-bar ul > li:not(.name):hover, .top-bar ul > li:not(.name).active {
  background: #0A506E;
}

/* line 92, ../sass/brianlyttle.scss */
.top-bar ul > li.has-dropdown .dropdown {
  background: #08425C;
}

/* line 95, ../sass/brianlyttle.scss */
.top-bar ul > li.has-dropdown .dropdown li {
  background: #08425C;
}

/* line 98, ../sass/brianlyttle.scss */
.top-bar ul > li.has-dropdown .dropdown li a:hover {
  background: #0A506E;
}

/* line 101, ../sass/brianlyttle.scss */
.top-bar ul > li.has-dropdown .dropdown li label {
  color: #CBDDEF;
}

/* -----------------------------------------
   Logo Area
----------------------------------------- */
/* line 108, ../sass/brianlyttle.scss */
#logo {
  margin: 15px 0 5px 0;
}

/* line 112, ../sass/brianlyttle.scss */
#logo-left {
  float: left;
}

/* line 117, ../sass/brianlyttle.scss */
#logo-right {
  float: left;
  margin-left: 8px;
}

/* line 121, ../sass/brianlyttle.scss */
#logo-left img {
  border-radius: 2px;
}

/* line 125, ../sass/brianlyttle.scss */
#logo-right a {
  font-family: "ff-meta-web-pro","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  font-weight: bolder;
  font-size: 28px;
  float: left;
  font-color: black;
  margin-top: -8px;
}

/* line 133, ../sass/brianlyttle.scss */
#logo-right a:active {
  font-color: black;
}

/* line 137, ../sass/brianlyttle.scss */
#logo-right h2 {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  margin-top: 15px;
  font-size: 16px;
  clear: both;
  font-weight: normal;
}

/* -----------------------------------------
   Sidebar Styles
----------------------------------------- */
/* line 149, ../sass/brianlyttle.scss */
#sidebar {
  padding-top: 12px;
}

/* line 153, ../sass/brianlyttle.scss */
#sidebar ul {
  list-style-type: none;
}

/* line 157, ../sass/brianlyttle.scss */
#sidebar h5, article h3 a {
  font-family: "ff-meta-web-pro",sans-serif;
}

/* line 161, ../sass/brianlyttle.scss */
.twitter-meta {
  padding: 3px 0px 10px 0px;
  font-size: 12px;
  line-height: 1.2;
}

/* line 167, ../sass/brianlyttle.scss */
.archive-posts li, .links li, .recent-posts li {
  padding: 0px 0px 5px 0px;
}

/* line 172, ../sass/brianlyttle.scss */
.twitter li:last-child, .recent-posts li:last-child,
.links li:last-child, .archive-posts li:last-child {
  padding-bottom: 0px;
}

/* -----------------------------------------
   The shits inline
----------------------------------------- */
/* line 179, ../sass/brianlyttle.scss */
pre {
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* line 187, ../sass/brianlyttle.scss */
article blockquote {
  margin: 0 0 1px;
  padding: 9px 18px 0 17px;
  border-left: 3px solid #ddd;
}

/* line 193, ../sass/brianlyttle.scss */
article h6 {
  margin-top: 5px;
}

/* line 197, ../sass/brianlyttle.scss */
article h6 {
  margin-bottom: 10px;
}
